<app-container>
    <div class="finish-or-continue">
        <h1>O que Deseja fazer a seguir ?</h1>
        <div class="actions">
            <a class="btn btn-continue" routerLink="/inicio">
                Continuar Comprado
                <fa-icon [icon]="continueIcon"></fa-icon>
            </a>
            <a class="btn btn-finish" routerLink="/finalizar">
                Finalizar Compra
                <fa-icon [icon]="finishIcon"></fa-icon>
            </a>
        </div>
    </div>
</app-container>
