@import "../../../assets/scss/vars.scss";

.product-container {
    background-color: #fff;
    padding: 2rem;
    margin-bottom: 8rem;

    .product-title {
        font-size: 2.1rem;
        text-transform: uppercase;
        color: rgb(43, 43, 43);
        letter-spacing: 0.2rem;
    }

    .product-info {
        padding: 2rem;
        margin-top: 5rem;
        display: flex;
        gap: 2rem;

        .product-image {
            img {
                max-height: 60rem;
                max-width: 60rem;
            }
        }
    }
    .product-info-wrapper {
        margin-left: 5rem;
    }
    .product-info-description {
        margin-bottom: 2rem;
        span {
            font-weight: bold;
            line-height: 12rem;
        }
        p {
            text-align: justify;
            text-indent: 3rem;
        }
    }
    .product-info-price {
        font-weight: bold;
        margin-bottom: 5rem;
    }
    .product-buy-button {
        border-radius: 0.4rem;
        padding: 2rem;
        background-color: $primary-color;
        outline: none;
        border: none;
        font-size: 2rem;
        cursor: pointer;
        transition: all 0.2s linear;
        &:hover {
            transform: scale(1.08);
            box-shadow: 0 0 0.4rem 0.2rem rgb(63, 76, 97);
            background-color: darken($color: $primary-color, $amount: 12);
        }
    }
}
