@import "../../../assets/scss/vars.scss";
.buy-product {
    background-color: #fff;
    padding: 2rem;
    .buy-product-info-wrapper {
        display: flex;
        align-items: center;
    }
    .buy-product-info {
        margin-top: 2rem;
        display: flex;
        gap: 3rem;
        align-items: center;
        img {
            max-height: 20rem;
        }
        p {
            max-width: 40rem;
        }
    }
    .buy-product-info-quantity {
        border-radius: 1rem;
        display: inline-block;
        font-weight: bold;
        font-size: 2rem;
        border: 1px solid rgba(0, 110, 255, 0.432);
        width: 10rem;
        padding: 2rem;
        text-align: center;
    }
    .buy-product-footer {
        margin-top: 5rem;
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        .buy-product-total {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
    .buy-product-quantity-btn {
        border-radius: 1rem;
        margin: 1rem;
        height: 6rem;
        width: 7rem;
        border: none;
        outline: none;
        cursor: pointer;
        transition: all linear 0.5s;
    }

    .btn-add {
        background-color: $primary-color;
        &:hover {
            background-color: darken($color: $primary-color, $amount: 5);
        }
    }

    .btn-remove {
        background-color: $danger-color;
        &:hover {
            background-color: darken($color: $danger-color, $amount: 5);
        }
    }
}
