@import "./assets/scss/vars.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

html {
    font-size: 62.5%;
}
body {
    font-size: 2rem;
    background-color: $background-color;
}

a {
    text-decoration: none;
}
