@import "../../../assets/scss/vars.scss";

.navbar {
    background-color: $nav-bar-bg;
    display: flex;
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    padding: 2rem;
    height: 7rem;
    width: 100vw;
    z-index: 2;
    box-shadow: 0px 0px 5px 2px #000;
    .navbar-title {
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 0.3rem;
    }
    &::before {
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        // margin-bottom: 20rem;
    }
}
