@import "../../../assets/scss/vars.scss";

.product-card {
    height: 37rem;
    background-color: $info-color;
    padding: 1rem;
    border-radius: 0.7rem;

    .product-card-title {
        text-align: center;
        text-overflow: ellipsis;
        font-size: 2rem;
    }
}
