@import "../../../assets/scss/vars.scss";

.product-card {
    display: flex;
    flex-direction: column;

    gap: 2rem;
    align-items: center;
    justify-content: space-evenly;
    height: 37rem;
    background-color: #fff;
    padding: 1rem;
    border-radius: 0.7rem;

    .product-card-title {
        text-align: center;
        text-overflow: ellipsis;
        font-size: 2rem;
    }

    .product-image {
        max-width: 25rem;
        max-height: 25rem;
    }
}
